* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.LoginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5900CA;
}
.LoginContainer .Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 300px;
  padding: 40px 24px;
  border-radius: 8px;
}
.LoginContainer .Form .Logo {
  color: #5900CA;
  font-weight: bold;
  font-size: 2rem;
}
.LoginContainer .Form label {
  margin-top: 24px;
  font-weight: bold;
  color: #F3F3F3;
  font-size: 0.8rem;
  color: #5900CA;
}
.LoginContainer .Form input {
  padding: 8px;
  border: solid 1px #5900CA;
  margin-top: 8px;
  border-radius: 4px;
  background-color: #f6edff;
}
.LoginContainer .Form button {
  margin-top: 24px;
  background-color: #5900CA;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 8px;
  transition: all 0.2s;
}
.LoginContainer .Form button:hover {
  cursor: pointer;
  background-color: #5800cae7;
}

.Menu {
  width: 100px;
  height: 100%;
  background-color: #5900CA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Menu .MenuIcon {
  width: 25%;
}
.Menu .MenuLine {
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 36px 0px;
}
.Menu i {
  color: white;
  margin-bottom: 24px;
  font-size: 1.25rem;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.2s;
}
.Menu i:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.Container {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  position: relative;
  padding: 8px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235900ca' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.Container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 100px);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4vh 4vh 0vh 4vh;
}
.Container nav .Logo {
  color: #5900CA;
  font-weight: bold;
  font-size: 1.5rem;
}
.Container nav .LogoutButton {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #5900CA;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 0.2s;
}
.Container nav .LogoutButton:hover {
  cursor: pointer;
  background-color: #5800cae7;
}
.Container .ImageViewerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Container .ImageViewerContainer #openSeaDragonContainer {
  width: 95%;
  height: 75%;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f2f7fe;
  padding: 20px;
}
.Container .ChatContainer {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.Container .ChatContainer .Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Container .ChatContainer .Header .Left {
  padding-left: 10px;
  color: #5900CA;
  font-size: 1.25rem;
}
.Container .ChatContainer .Header .Left :nth-child(2) {
  padding-left: 5px;
  font-weight: bold;
}
.Container .ChatContainer .Header .CloseButton {
  font-size: 1.25rem;
  font-weight: bold;
}
.Container .ChatContainer .Header .CloseButton:hover {
  cursor: pointer;
}
.Container .ChatContainer .ChatContent {
  display: flex;
  width: 100%;
  margin-top: 32px;
  height: 80%;
}
.Container .ChatContainer .ChatContent .ActiveMembers {
  width: 25%;
  height: 100%;
  overflow-y: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.Container .ChatContainer .ChatContent .ActiveMembers .ActiveLabel {
  color: #303030;
  font-size: 0.8rem;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 8px;
}
.Container .ChatContainer .ChatContent .ActiveMembers .Member {
  width: 100%;
  padding: 8px 12px;
  color: #5900CA;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}
.Container .ChatContainer .ChatContent .ActiveMembers .Member i {
  margin-right: 4px;
}
.Container .ChatContainer .ChatContent .ChatMain {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages {
  background-color: #f2f7fe;
  min-height: 200px;
  max-height: 75%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages .ChatRow {
  width: 100%;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages .ChatRow .Meta {
  color: #303030;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0px 4px;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages .ChatRow .Message {
  max-width: 60%;
  background-color: #5900CA;
  color: white;
  font-weight: bold;
  margin-top: 4px;
  padding: 6px 12px;
  border-radius: 4px;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages .RowLeft {
  align-items: flex-start;
}
.Container .ChatContainer .ChatContent .ChatMain .ChatMessages .RowRight {
  align-items: flex-end;
}
.Container .ChatContainer .ChatContent .ChatMain .Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.Container .ChatContainer .ChatContent .ChatMain .Input input {
  width: 80%;
  height: 40px;
  padding: 0px 20px;
  border: solid 1px #767676;
  background-color: #F3F3F3;
  border-radius: 4px;
}
.Container .ChatContainer .ChatContent .ChatMain .Input i {
  width: 8%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5900CA;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.Container .ChatContainer .ChatContent .ChatMain .Input i:hover {
  cursor: pointer;
  background-color: #5800cae7;
}
.Container .Pill {
  position: absolute;
  right: 0px;
  width: 160px;
  padding: 12px 24px;
  color: #5900CA;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.Container .Pill .Title {
  margin-left: 8px;
}
.Container .Pill:hover {
  cursor: pointer;
  background-color: whitesmoke;
  right: 2px;
}
.Container .ChatPill {
  top: 40%;
  font-size: 1rem;
}
.Container .SyncPill {
  top: 50%;
}
.Container .UnSyncPill {
  top: 50%;
  background-color: #f6edff;
  top: 50%;
  display: none;
}

.Container .ChatContainerHidden {
  transform: translate(200%, 0px);
}
.Container .ChatPillHidden {
  right: -200%;
}
.Container .AudioOn {
  background-color: white !important;
  color: #5900CA !important;
  animation: AudioOn 1s infinite;
}

@keyframes AudioOn {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=index.css.map */
