* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
}

.LoginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5900CA;
}
.LoginContainer .Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 300px;
  padding: 40px 24px;
  border-radius: 8px;
}
.LoginContainer .Form .Logo {
  color: #5900CA;
  font-weight: bold;
  font-size: 2rem;
}
.LoginContainer .Form label {
  margin-top: 24px;
  font-weight: bold;
  color: #F3F3F3;
  font-size: 0.8rem;
  color: #5900CA;
}
.LoginContainer .Form input {
  padding: 8px;
  border: solid 1px #5900CA;
  margin-top: 8px;
  border-radius: 4px;
  background-color: #f6edff;
}
.LoginContainer .Form button {
  margin-top: 24px;
  background-color: #5900CA;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 8px;
  transition: all 0.2s;
}
.LoginContainer .Form button:hover {
  cursor: pointer;
  background-color: #5800cae7;
}

.Menu {
  width: 100px;
  height: 100%;
  background-color: #5900CA;
}

.Container {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  position: relative;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.Container nav {
  color: #5900CA;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: 4vh;
  left: 4vh;
}
.Container .ChatContainer {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.Container .ChatContainer .Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Container .ChatContainer .Header .Left {
  padding-left: 10px;
  color: #5900CA;
  font-size: 1.25rem;
}
.Container .ChatContainer .Header .Left :nth-child(2) {
  padding-left: 5px;
  font-weight: bold;
}
.Container .ChatContainer .Header .CloseButton {
  font-size: 1.25rem;
  font-weight: bold;
}
.Container .ChatContainer .Header .CloseButton:hover {
  cursor: pointer;
}
.Container .ChatContainer .ChatMessages {
  background-color: #f2f7fe;
  min-height: 200px;
  max-height: 75%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Container .ChatContainer .ChatMessages .ChatRow {
  padding: 8px 8px;
  display: flex;
}
.Container .ChatContainer .ChatMessages .ChatRow .Message {
  max-width: 60%;
  background-color: #5900CA;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}
.Container .ChatContainer .ChatMessages .RowLeft {
  justify-content: flex-start;
}
.Container .ChatContainer .ChatMessages .RowRight {
  justify-content: flex-end;
}
.Container .ChatContainer .Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.Container .ChatContainer .Input input {
  width: 80%;
  height: 40px;
  padding: 0px 20px;
  border: solid 1px #767676;
  background-color: #F3F3F3;
  border-radius: 4px;
}
.Container .ChatContainer .Input i {
  width: 8%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5900CA;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.Container .ChatContainer .Input i:hover {
  cursor: pointer;
  background-color: #5800cae7;
}

/*# sourceMappingURL=index.css.map */
