@import './colors.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.LoginContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    .Form{
        display: flex;
        flex-direction: column;
        background-color: white;
        min-width: 300px;
        padding: 40px 24px;
        border-radius: 8px;
        .Logo{
            color: $primary;
            font-weight: bold;
            font-size: 2rem;
        }
        label{
            margin-top: 24px;
            font-weight: bold;
            color: $lightGrey;
            font-size: 0.8rem;
            color: $primary;
        }
        input{
            padding: 8px;
            border: solid 1px $primary;
            margin-top: 8px;
            border-radius: 4px;
            background-color: $primarySuperLite;
        }
        button{
            margin-top: 24px;
            background-color: $primary;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            padding: 12px 8px;
            transition: all 0.2s;
            &:hover{
                cursor: pointer;
                background-color: $primaryHover;
            }
        }
    }
}

.Menu{
    width: 100px;
    height: 100%;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .MenuIcon{
        width: 25%;
    }
    .MenuLine{
        width: 50%;
        height: 1px;
        background-color: white;
        margin: 36px 0px;
    }
    i{
        color: white;
        margin-bottom: 24px;
        font-size: 1.25rem;
        padding: 8px;
        border-radius: 4px;
        transition: all 0.2s;
        &:hover{
            cursor: pointer;
            background-color: rgba(0,0,0,0.1);
        }
    }
}


.Container{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    position: relative;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235900ca' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 100px);
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 4vh 4vh 0vh 4vh;
        .Logo{
            color: $primary;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .LogoutButton{
            padding: 8px 20px;
            border: none;
            border-radius: 4px;
            background-color: $primary;
            color: white;
            font-weight: bold;
            font-size: 0.8rem;
            transition: all 0.2s;
            &:hover{
                cursor: pointer;
                background-color: $primaryHover;
            }
        }
    }
    .ImageViewerContainer{
        width: 100%;
        height: 100%;
        // background-color: #f2f7fe;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        #openSeaDragonContainer{
            width: 95%;
            height: 75%;
            overflow: hidden;
            border-radius: 8px;
            // border: solid 1px $primarySuperLite;
            background-color: #f2f7fe;
            padding: 20px;
        }
    }
    .ChatContainer{
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 5px;
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
        .Header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .Left{
                padding-left: 10px;
                color: $primary;
                font-size: 1.25rem;
                :nth-child(2) {
                    padding-left: 5px;
                    font-weight: bold;
                }
            }
            .CloseButton{
                font-size: 1.25rem;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .ChatContent{
            display: flex;
            width: 100%;
            margin-top: 32px;
            height: 80%;
            .ActiveMembers{
                width: 25%;
                height: 100%;
                overflow-y: auto;
                padding: 4px;
                display: flex;
                flex-direction: column;
                .ActiveLabel{
                    color: $darkGrey;
                    font-size: 0.8rem;
                    margin-bottom: 8px;
                    font-weight: bold;
                    text-decoration: underline;
                    padding-left: 8px;
                }
                .Member{
                    width: 100%;
                    padding: 8px 12px;
                    color: $primary;
                    font-weight: bold;
                    border-radius: 4px;
                    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
                    margin-bottom: 8px;
                    i {
                        margin-right: 4px;
                    }
                }
            }
            .ChatMain{
                width: 75%;
                display: flex;
                flex-direction: column;
                padding-left: 16px;
                .ChatMessages{
                    background-color: #f2f7fe;
                    min-height: 200px; 
                    max-height: 75%;
                    overflow-y: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .ChatRow{
                        width: 100%;
                        padding: 8px 8px;
                        display: flex;
                        flex-direction: column;
                        .Meta{
                            color: $darkGrey;
                            font-size: 0.8rem;
                            font-weight: bold;
                            padding: 0px 4px;
                        }
                        .Message{
                            max-width: 60%;
                            background-color: $primary;
                            color: white;
                            font-weight: bold;
                            margin-top: 4px;
                            padding: 6px 12px;
                            border-radius: 4px;
                        }
                    }
                    .RowLeft{
                        align-items: flex-start;
                    }
                    .RowRight{
                        align-items: flex-end;
                    }
                }
                .Input{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 12px;
                    input{
                        width: 80%;
                        // padding: 8px 20px;
                        height: 40px;
                        padding: 0px 20px;
                        border: solid 1px $stroke;
                        background-color: $lightGrey;
                        border-radius: 4px;
                    }
                    i{
                        width: 8%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $primary;
                        color: white;
                        border-radius: 8px;
                        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                        transition: all 0.2s;
                        &:hover{
                            cursor: pointer;
                            background-color: $primaryHover;
                        }
                    }
                }
            }
        }
    }
    .Pill{
        position: absolute;
        right: 0px;
        width: 160px;
        padding: 12px 24px;
        color: $primary;
        font-weight: bold;
        font-size: 0.8rem;
        background-color: white;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        transition: all 0.2s;
        .Title{
            margin-left: 8px;
        }
        &:hover{
            cursor: pointer;
            background-color: whitesmoke;
            right: 2px;
        }
    }
    .ChatPill {
        top: 40%;
        font-size: 1rem;
    }
    .SyncPill {
        top: 50%;
    }
    .UnSyncPill {
        top: 50%;
        background-color: $primarySuperLite;
        top: 50%;
        display: none;
    }
}

.Container{
    .ChatContainerHidden{
        transform: translate(200%, 0px);
    }
    .ChatPillHidden {
        right: -200%;
    }
    .AudioOn{
        background-color: white !important;
        color: $primary !important;
        animation: AudioOn 1s infinite;
    }
}

@keyframes AudioOn {
    from {
        font-size: 1rem;
    }
    to {
        font-size: 1.25rem;
    }
}